<h1>Sign Up Below:</h1>

<form method="POST" action="/registrations">
  <label>Name: <input type="text" name= "name"/></label>
  <label><input type="text" name="email"/></label>
  <label><input type="text" name="password"/></label>
</form>
